.act {
  background-color: $main_color;
  color: white;
  background-image: url("../img/bg-dots-light.png");
  background-repeat: repeat;
  padding-bottom: 51px;

  &__wrapper {
    max-width: 320px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: -45px;

    span {
      background-color: white;
      margin-bottom: 2px;
      color: black;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 140%;
    padding-top: 0;
    margin-bottom: 33px;

    span {
      margin-left: -9px;
    }
  }

  &__form-title {
    font-weight: 800;
    font-size: 12px;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 19px;
  }
}

@media (min-width: 768px) {
  .act {
    position: relative;

    &__wrapper {
      max-width: 768px;
    }

    &__man-wrapper {
      width: 50%;
      position: absolute;
      bottom: -4px;
      right: 0;
    }

    &__man {
      width: 100%;
      max-width: 500px;
    }

    &__title {
      margin-top: 20px;
      font-size: 35px;
      max-width: 995px;
      margin-bottom: 10px;

      span {
        background-color: inherit;
        color: white;
        padding: 0;
        margin: 0;
      }
    }

    &__description {
      max-width: 50%;
      font-size: 19px;
      line-height: 140%;

    }

    &__subtitle {
      max-width: 50%;
      font-size: 22px;
      margin-bottom: 15px;
    }

    &__form-title {
      max-width: 50%;
      font-size: 12px;
    }
  }
}

@media (min-width: 1120px) {
  .act {
    padding-bottom: 100px;
    &__wrapper {
      max-width: 1200px;
      padding-top: 20px;
    }

    &__title {
      margin-top: 60px;
      font-weight: 800;
      font-size: 38px;
      line-height: 140%;
      margin-bottom: 48px;
    }

    &__description {
      font-size: 31px;
      line-height: 140%;
    }

    &__subtitle {
      font-weight: 800;
      font-size: 35px;
      line-height: 140%;
      margin-bottom: 55px;
    }

    &__form-title {
      font-weight: 800;
      font-size: 19px;
      line-height: 140%;
      margin-bottom: 29px;
    }
    &__man {
      width: 100%;
      max-width: 1075px;
      min-width: 700px;
    }
  }
}

@media (min-width: 1478px) {
  .act {
    padding-bottom: 100px;
    &__wrapper {
      max-width: 1560px;
      padding-top: 20px;
    }

    &__title {
      margin-top: 60px;
      font-weight: 800;
      font-size: 43px;
      line-height: 140%;
      margin-bottom: 48px;
    }

    &__description {
      font-size: 36px;
      line-height: 140%;
    }

    &__subtitle {
      font-weight: 800;
      font-size: 40px;
      line-height: 140%;
      margin-bottom: 55px;
    }

    &__form-title {
      font-weight: 800;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 29px;
    }
    &__man {
      width: 100%;
      max-width: 1075px;
    }
  }
}
