.brands {
  margin-top: 58px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 16.6%;
  }
}

@media (min-width: 768px) {
  .brands {

    &__list {
    }

    &__item {
      width: 100%;
      max-width: 80px;
    }
  }
}

@media (min-width: 768px) {
  .brands {
    margin-top: 110px;
    margin-bottom: 140px;
    &__list {
      padding-left: -65px;
      margin-right: -65px;
    }

    &__item {
      padding-left: 65px;
      padding-right: 65px;
      width: 100%;
      max-width: 257px;
    }
  }
}
