.expert {
  padding-top: 113px;
  &__wrapper {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &__header{
    padding-left: 20px;
    padding-right: 20px;
  }
  &__avatar-wrapper{
    margin-bottom: 52px;
  }
  &__label{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: $main_color;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
  }
  &__title{
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 16px;
  }
  &__subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 54px;
  }
  &__list{
    list-style: none;
    padding-left: 0;
  }
  &__item{
    padding-left: 20px;
    position: relative;
    font-size: 12px;
    line-height: 160%;
    margin-bottom: 33px;
    &:before{
      position: absolute;
      left: 0;
      top: 5px;
      display: block;
      content: '';
      width: 6px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.93407 4L-3.52834e-05 0H1.83144L6 4L1.83144 8H-3.52834e-05L3.93407 4Z' fill='%2300A9CF'/%3E%3C/svg%3E%0A");
    }
  }
}

@media (min-width: 768px) {
  .expert {
    &__wrapper {
      max-width: 768px;
    }
    &__header{
      display: flex;
    }
    &__avatar-wrapper{
      margin-bottom: 0;
      margin-right: 10px;
      min-width: 200px;
    }
    &__label{
      margin-bottom: 10px;
    }
    &__subtitle{
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}
