.footer-decor {
  position: relative;
  padding-bottom: 50px;

  &:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17px;
    background-color: $main_color;
  }

  &:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    width: 17px;
    height: 70px;
    background-color: $main_color;
  }

  &--black {
    &:before,
    &:after {
      background-color: black;
    }
  }
  &--white {
    &:before,
    &:after {
      background-color: white;
    }
  }
}
