.main-nav {
  display: flex;
  align-items: center;

  &--open {
    .main-nav__toggle {
      span {
        background-color: transparent;

        &:after {
          transform: rotate3d(0, 0, 1, 45deg) translateY(-50%);
          top: 50%;
        }

        &:before {
          bottom: 50%;
          transform: rotate3d(0, 0, 1, -45deg) translateY(50%);
        }
      }
    }

    .main-nav__list {
      opacity: 1;
      height: auto;
      width: 100%;
      position: absolute;
      z-index: 5;
      background-color: black;
      visibility: visible;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 42px;
      transition: .2s;
    }

    .main-nav__item {
      min-width: 320px;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

.main-nav__list {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.main-nav__toggle {
  display: flex;
  align-items: center;
  border: none;
  height: 14px;
  width: 21px;
  padding: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  span {
    background-color: $main_color;
    width: 100%;
    height: 2px;
    transition: .2s;

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $main_color;
    }

    &:before {
      bottom: 0;
    }

    &:after {
      top: 0;
    }
  }

}

.main-nav__link {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-nav {
    flex-grow: 1;
    justify-content: flex-end;
    padding-left: 20px;

    &__list {
      height: auto;
      opacity: 1;
      visibility: visible;
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      justify-content: space-between;
    }

    &__toggle {
      display: none;
    }

    &__link {
      font-size: 10px;
      transition: .3s;
      border-bottom: 1px solid rgba(255, 255, 255, 0);

      &:hover {
        transition: .5s;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-nav {
    justify-content: flex-end;

    &__item {
      margin-left: 20px;
    }

    &__list {
      justify-content: flex-end;
    }

    &__link {
      font-size: 14px;
      line-height: 140%;
    }
  }
}


@media (min-width: 1543px) {
  .main-nav {
    justify-content: flex-end;

    &__item {
      margin-left: 42px;
    }

    &__list {
      justify-content: flex-end;
    }

    &__link {
      font-size: 16px;
      line-height: 140%;
    }
  }
}

