.program {
  padding-top: 72px;
  padding-bottom: 80px;

  &__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    color: black;
  }
  &__subtitle{
    font-size: 12px;
    line-height: 160%;
  }

  &__list {
    margin-top: 35px;
  }

  &__item {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 22px;

    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin-bottom: 0;
      padding-bottom: 22px;
    }

    &.open {
      .program__accordion {
        transition: .2s;
        max-height: 100%;
        opacity: 1;
        visibility: visible;
      }

      .program__accordion-toggle {
        &:after {
          opacity: 0;
        }
      }
    }
  }

  &__accordion {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__item-head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 8px;
  }

  &__accordion-title {
    font-weight: 800;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__accordion-toggle {
    position: relative;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .2s;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 20px;
      height: 1px;
      background-color: black;
      opacity: .3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 1px;
      height: 20px;
      background-color: black;
      opacity: .3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
    }
  }

  &__accordion-text {
    font-size: 12px;
    line-height: 160%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    padding-bottom: 1px;
  }

  li {
    padding-left: 20px;
    position: relative;
    font-size: 12px;
    line-height: 160%;
    margin-bottom: 10px;

    &:before {
      position: absolute;
      left: 0;
      top: 5px;
      display: block;
      content: '';
      width: 6px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.93407 4L-3.52834e-05 0H1.83144L6 4L1.83144 8H-3.52834e-05L3.93407 4Z' fill='%2300A9CF'/%3E%3C/svg%3E%0A");
    }
  }
}

@media (min-width: 768px) {
  .program {
    &__wrapper {
      max-width: 768px;
    }
  }
}

@media (min-width: 1120px) {
  .program {
    padding-bottom: 148px;
    padding-top: 120px;

    &__wrapper {
      max-width: 1050px;
    }

    &__title {
      margin-bottom: 60px;
    }

    &__accordion-title {
      font-weight: 800;
      font-size: 20px;
      line-height: 140%;
    }

    &__accordion-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
    }
    &__subtitle{
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
    }

    &__item-head {
      margin-bottom: 12px;
    }

    li {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
    }

    &__accordion-toggle {
      width: 34px;

      &:before {
        width: 34px;
      }

      &:after {
        height: 34px;
      }
    }
  }
}

@media (min-width: 1543px) {
  .program {
    padding-bottom: 148px;
    padding-top: 163px;

    &__wrapper {
      max-width: 980px;
      padding-right: 22px;
    }

    &__title {
      margin-bottom: 58px;
    }

    &__item {
      padding-top: 34px;
      margin-bottom: 25px;

      &:last-child {
        padding-bottom: 25px;
      }
    }

    &__accordion-title {
      font-weight: 800;
      font-size: 20px;
      line-height: 140%;
    }

    &__accordion-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
    }


    &__item-head {
      margin-bottom: 12px;
    }

    &__accordion-toggle {
      width: 34px;

      &:before {
        width: 34px;
      }

      &:after {
        height: 34px;
      }
    }
  }
}
