.reviews {
  background-color: $main_color;
  padding-top: 57px;
  background-image: url("../img/bg-dots-light.png");
  background-repeat: repeat;
  padding-bottom: 90px;

  &__wrapper {
    max-width: 320px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  &__subtitle {
    color: white;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__list {

  }

  &__item {
    margin-bottom: 60px;

    margin-left: 3px;
    margin-right: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__logo-wrapper {
    background-color: white;
    min-width: 133px;
    margin-bottom: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
  }

  &__text-wrapper {
    background-color: white;
    position: relative;
    padding-top: 23px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 28px;
    font-size: 10px;
    line-height: 160%;

    p {
      margin-bottom: 25px;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      top: -42px;
      left: 30px;
      border-bottom: 43px solid #ffffff;
      border-right: 72px solid transparent;
    }
  }

  &__sign {
    font-size: 10px;
    line-height: 160%;
    text-align: right;
    font-style: italic;
    margin-top: -5px;
  }
}

@media (min-width: 768px) {
  .reviews {
    &__wrapper {
      max-width: 768px;
    }

    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (min-width: 1120px) {
  .reviews {
    padding-top: 130px;

    &__wrapper {
      max-width: 1200px;
    }

    &__subtitle {
      font-size: 25px;
      line-height: 140%;
      margin-bottom: 91px;
    }

    &__item {
      margin-left: 25px;
      margin-right: 25px;
      outline: none;
    }

    &__logo-wrapper {
      max-width: 254px;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 108px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 15px;
      margin-bottom: 75px;
    }

    &__logo {
      height: 100%;
      width: auto;
    }

    &__text-wrapper {
      font-size: 16px;
      line-height: 160%;
      padding-left: 37px;
      padding-right: 37px;
      padding-top: 34px;
      &:before {
        left: 25%;
        border-bottom: 52px solid #ffffff;
        border-right: 91px solid transparent;
        top: -50px;
      }
    }
  }
}

@media (min-width: 1478px) {
  .reviews {
    padding-top: 140px;
    padding-bottom: 100px;

    &__wrapper {
      max-width: 1543px;
    }

    &__title {
      font-weight: 800;
      font-size: 42px;
      line-height: 140%;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 140%;
      margin-bottom: 91px;
    }

    &__list{
      margin-left: -22px;
      margin-right: -22px;
    }

    &__item {
      margin-left: 22px;
      margin-right: 22px;
      outline: none;
      //min-width: 717px;
    }

    &__logo-wrapper {
      max-width: 254px;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 108px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 15px;
      margin-bottom: 75px;
    }

    &__logo {
      height: 100%;
      width: auto;
    }

    &__text-wrapper {
      font-size: 16px;
      line-height: 160%;
      padding-left: 37px;
      padding-right: 37px;
      padding-top: 37px;

      &:before {
        left: 19%;
        border-bottom: 52px solid #ffffff;
        border-right: 91px solid transparent;
        top: -50px;
      }
      p{
        margin-bottom: 40px;
      }
      & .reviews__sign{
        margin-bottom: 20px;
      }
    }
    &__sign{
      font-size: 16px;
      line-height: 160%;
    }
  }
}
